.button {
    background-color: #3d3d3d;
    color: #ffffff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #757575; 
}